.services__content{
    background-image: url("../pages/doodle\ items.svg");
    width: 100%;
    height: 1903px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

@media (min-width:600px){
    .contenedor-cards{
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
    .services__content{
        height: 942px;
    }
    .title__services{
        margin-top: 90px;
    }
    .services{
        
        display: flex;
        gap: 100px;
        
    }
}
.services__card{
    border-radius: 16px;
    background-color: #393E4680;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 320px;
    height: 481px;
    margin-top: 50px;
    box-shadow: 10px 20px 20px rgba(104, 149, 233, 0.5);
   
}
.services__card:hover{
    background-color: rgb(104, 101, 96);
    cursor: pointer;
    box-shadow: 10px 20px 20px rgba(93, 244, 34, 0.5);
    transition: all 0.5s ease;
}
.services-img__card{
   width: 250px;
   height: 200px;
   margin-top: 20px;
   border-radius: 10px;
}
.services-title__card{
    color: white;
    margin: 20px 0 0 0;
    font-size: 30px;
    text-align: center;
}
.services-description__card{
    color: white;
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
   
}
.title__services{
    color: white;
    font-size: 42px;
}
.txt-servicios{
    color: #00ADB5;
}
